$soft-blue: rgb(132, 172, 217);
$white: rgb(255, 255, 255);
$cyan: rgb(0, 255, 248);
$transparent-cyan: rgba(0, 255, 248, 0.5);
$main-bg-dark: rgb(13, 25, 44);
$card-bg-dark: rgb(21, 38, 63);
$dark-blue: rgb(46, 64, 90);
