@use '_reset';
@use '_colors';
@use '_typography';

.card-nft {
  background-color: colors.$card-bg-dark;
  padding: 24px 24px 32px 24px;
  border-radius: 15px;
  width: 300px;
  height: 400px;
  margin: 10px 10px;

  @media screen and (max-width: 550px) {
    padding: 20px;
    width: 200px;
    height: 275px;
  }
}

.card__picture-container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  height: 250px;

  @media screen and (max-width: 550px) {
    height: 150px;
  }
}

.card__picture {
  width: 100%;
  height: auto;
}

.card__title {
  font-size: 22px;
  color: colors.$white;
  font-weight: typography.$semibold;
  margin: 24px 0 12px;
  transition: 0.5s ease-in-out;
  @media screen and (max-width: 550px) {
    font-size: 18px;
  }
}
// loader

.loader
{
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

.loader-div
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
